/* Reset geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #EAEAEA;
}

/* Navbar */
.navbar{
    background-color: #1D18B1;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    font-size: 18px;
}

.logo img{
    width: 150px;
    height: auto;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 40px;
    padding: 12px 20px;
    border-radius: 10px;
    transition: 0.3s;
}

nav a:hover,
nav a:focus{
    background-color: #15158C;
    text-decoration: 2px underline;
}

/* Perfil */
.profile {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
}

.profile-icon {
    background-color: white;
    color: #1D18B1;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Banner */
.banner img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* === Campo de busca === */
.container {
  width: 100%;
  max-width: 1100px;
  margin: 30px auto;
  padding: 0 20px;
}

.marca-area {
    position: relative;
    display: flex;
    align-items: center;
    margin: 40px 0;
    padding: 25px 40px;
    height: 80px;
    width: 100%;
}

.marca-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.marca-nome {
    font-size: 26px;
    font-weight: bold;
    white-space: nowrap;
}

.marca-logo {
    width: 60px;
    height: auto;
}

.search-form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.search-form label {
  font-weight: 500;
  margin-bottom: 8px;
  color: #333;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
    padding: 6px 10px;
    border-radius: 12px;
    width: 450px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px 14px;
  font-size: 16px;
  color: #333;
}

.search-box button {
  background-color: #d9d9d9;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-box button:hover {
  background-color: #1E2AFA;
}

.search-box-marca {
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
    border-radius: 20px;
    padding: 6px 15px;
    width: 350px;
    border: 1px solid #bfbfbf;
}

.search-box-marca input {
    border: none;
    outline: none;
    flex: 1;
    background: none;
    font-size: 15px;
}

.search-box-marca button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.marca-fundo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 70%;
    max-width: 900px;

    opacity: 0.06;
    z-index: 0;
    pointer-events: none;
}

.navbar,
.marca-area {
    position: relative;
    z-index: 5;
}


/* Cards de carros */
.car-section {
    background-color: #EAEAEA;
    padding: 20px 60px 60px;
    min-height: calc(100vh - 300px);
}

.car-section h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.car-grid {
    display: flex;
    margin: 40px auto;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
}

.car-card {
    background-color: #1D18B1;
    width: 180px;
    height: 180px;        
    border-radius: 10px;
    margin: 60px 0;
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s;
    overflow: hidden;     
}


.car-card a{
    color: white;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

.car-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.car-card img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.vehicle-card {
    width: 280px;
    height: 280px;
    background-color: #1D18B1;
    border-radius: 8px;
    margin: 15px;
    padding: 10px;

    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;

    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;

    transition: 0.2s;
}

.vehicle-card img {
    width: 100%;
    height: 160px;
    object-fit: contain;
    margin-bottom: 8px;
}

.vehicle-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.no-vehicles-found {
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

html, body {
    height: 100%;
}

@media (max-width: 900px) {
    .car-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .car-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}


