/* Reset geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar{
    background-color: #1D18B1;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    font-size: 18px;
}

.logo img{
    width: 150px;
    height: auto;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 40px;
    padding: 12px 20px;
    border-radius: 10px;
    transition: 0.3s;
}

nav a:hover,
nav a:focus{
    background-color: #15158C;
    text-decoration: 2px underline;
}

/* Perfil */
.profile {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
}

.profile-icon {
    background-color: white;
    color: #1D18B1;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Banner */
.banner img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* Campo de busca */
.search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #EAEAEA;
}

.search-section input {
    width: 300px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
}

.search-section button {
    margin-left: 6px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

/* Cards de carros */
.car-section {
    background-color: #EAEAEA;
    padding: 20px 60px 60px;
    min-height: calc(100vh - 300px);
}

.car-section h2 {
    margin-bottom: 20px;
}

.car-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.car-card {
    background-color: #1D18B1;
    color: white;
    padding: 70px 0;
    width: 180px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.car-card:hover {
    transform: scale(1.05);
}


html, body {
    height: 100%;
    overflow: hidden;
}

