<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - DriveSpot</title>
    <link rel="stylesheet" href="../static/css/stylecadastro.css">
    <link rel="shortcut icon" href="../static/img/Logo-DriveSpot.ico" type="image/x-icon">
</head>
<body>
    <button class="btn-voltar">Voltar</button>

    <div class="cadastro-container">
        <div class="logo">
            <img src="../static/img/Logo_branco - DriveSpot.png" alt="Logo DriveSpot">
        </div>

        <h2>Cadastro</h2>

        <form>
            <input type="text" placeholder="Nome Completo" required>
            <input type="email" placeholder="Email" required>
            <input type="email" placeholder="Confirme seu email" required>
            <input type="password" placeholder="Senha" required>
            <input type="password" placeholder="Confirme sua senha" required>

            <div class="botoes">
                <button type="button" class="cancelar">Cancelar</button>
                <button type="submit" class="salvar">Salvar Informações</button>
            </div>
        </form>
    </div>
</body>
</html>
