<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Confirmar Remoção</title>
  <link rel="stylesheet" href="../static/css/styleConficarRemocao.css">
</head>

<body>

  <nav class="navbar">
        <div class="logo">
            <a href="/telaInicial">
                <img src="../static/img/Logo_branco - DriveSpot.png" alt="Logo - DriveSpot">
            </a>
        </div>
        <ul class="nav-links">
            <a href="/adicionar">Adicionar</a>
            <a href="/editar">Editar</a>
            <a href="/remover">Remover</a>
            <a href="/relatorio">Relatório</a>
        </ul>
       <div class="perfil">
            {% if session.usuario %}
                <span class="usuario-nome">👤 Olá, {{ session.usuario.nome }}</span>
                <a href="{{ url_for('logout') }}" class="btn-sair">Sair</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="btn-login">Login</a>
            {% endif %}
        </div>
    </nav>

  <main class="container">
    <div class="card">
      <h1>Confirmar Remoção</h1>

      <img src="{{ carro['imagem_url'] or url_for('static', filename='img/car_placeholder.png') }}">

      <p><strong>Marca:</strong> {{ carro.marca }}</p>
      <p><strong>Modelo:</strong> {{ carro.modelo }}</p>
      <p><strong>Ano:</strong> {{ carro.ano }}</p>
      <p><strong>Preço:</strong> R$ {{ carro.preco }}</p>
      <p><strong>Categoria:</strong>{{ carro.categoria or "Sem categoria"}}</p>

      <form action="/remover/{{ carro.id_veiculo }}" method="POST">
        <button class="btn remove" type="submit">Remover</button>
        <a href="/remover" class="btn cancel">Cancelar</a>
      </form>
    </div>
  </main>
</body>
</html>
