<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DriveSpot - Dashboard</title>
    <link rel="stylesheet" href="../static/css/styletelainicial.css">
    <link rel="shortcut icon" href="../static/img/Logo-DriveSpot.ico" type="image/x-icon">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">
            <img src="../static/img/Logo_branco - DriveSpot.png" alt="Logo DriveSpot">
        </div>
        <ul class="nav-links">
            <a href="#">Adicionar</a>
            <a href="#">Editar</a>
            <a href="#">Remover</a>
            <a href="#">Relatórios</a>
        </ul>
       <div class="perfil">
      <a href="/login">Login</a>
       </div>
    </nav>

    <!-- Imagem principal -->
    <section class="banner">
        <img src="../static/img/bannercarro.jpeg" alt="Imagem de carros">
    </section>

    <!-- Campo de busca -->
    <section class="search-section">
        <input type="text" placeholder="Buscar por nome">
        <button><i class="search-icon">🔍</i></button>
    </section>

    <!-- Cards de carros -->
    <section class="car-section">
        <h2>Carros</h2>
        <div class="car-grid">
            <div class="car-card">Marca 1</div>
            <div class="car-card">Marca 2</div>
            <div class="car-card">Marca 3</div>
            <div class="car-card">Marca 4</div>
            <div class="car-card">Marca 5</div>
            <div class="car-card">Marca 6</div>
        </div>
    </section>
</body>
</html>
